include tox.ini
include pyproject.toml
include .pre-commit-config.yaml
include .readthedocs.yaml
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-exclude docs/_build *
recursive-include tests *.py
